* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: #222;
    position: relative;
    height: 100vh;
    min-height: 400px;
    min-width: 500px;
    max-width: 1000px;
    border: 1px solid black;
    margin: 0 auto;
}

.tutorialConteudo {
    position: relative;
    width: 100%;
    height: 100%;
    justify-items: center;
}
.tutorialConteudo p{ 
    font-size: 26px;
    color: #c9c9c9;
    font-weight: bold;
    text-shadow:
        0 0 10px #00ccff,
        0 0 10px #01acca,
        2px 2px 2px #010053;
    letter-spacing: 8px;
    font-family: 'Courier New', monospace;
    margin: 0;
    text-align: center;
}
.tutorialImagem{
    width: 60%;
    left: 20%;
    position: relative;
}

.nave {
    width: 80px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.bala {
    background-color: yellow;
    width: 4px;
    height: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px green;
    position: absolute;
    transform: translateX(-50%);
}

.invader {
    width: 60px;
    top: 30px;
    left: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.boss {
    width: 200px;
    top: 30px;
    left: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.coracao {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
}

.parabens {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.parabens-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/Stairs_to_Heaven.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.parabens-conteudo {
    position: relative;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in 1s forwards;
}

.parabensJoinha {
    position: relative;
    width: 40%;
    bottom: 100px;
    opacity: 0;
    animation: fadeIn 3s ease-in 3s forwards;
}

.parabens-conteudo p {
    font-size: 32px;
    color: #0063c0;
    font-weight: bold;
    text-shadow:
        0 0 10px #00ccff,
        0 0 10px #01acca,
        0 0 15px #007eb8,
        2px 2px 2px #010053;
    letter-spacing: 8px;
    font-family: 'Courier New', monospace;
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);

    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.gameOver {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: #e00100;
    font-weight: bold;
    text-shadow:
        0 0 10px #f80000,
        0 0 15px #ff0000,
        0 0 20px #ff0000,
        4px 4px 0px #000;
    text-align: center;
    letter-spacing: 8px;
    font-family: 'Courier New', monospace;
}

.botao {
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', monospace;
    background: linear-gradient(180deg, #00ffffde 0%, #00aaaad8 100%);
    color: black;
    border: 3.5px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow:
        0 0 10px #00ffff,
        inset 0 -2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

.botaoReiniciar:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 20px #00ffff,
        inset 0 -2px 8px rgba(0, 0, 0, 0.3);
}